extends layout 

block content 
    .nav 
        h3#brand
                #b-m Members
                #b-o Only
        .links
            a(href='/home/join-club') Join The Club

    h3 Welcome #{user}!

    .message-board-container
        .message-board 
            ul 
                each message in (undefined === message_list ? [] : message_list)
                    li 
                        .message-container 
                            if authorised
                                #author #{message.author.username}
                            p#message #{message.message}
                            if authorised
                                #date #{message.date_posted}
                        
            .message-form-container 
                form.message(method='POST' action='/home/create-message')
                    .form-inputs-message
                        input#user-message(type='text' name='user_message' placeholder='Enter message')

                        button#form-submit(type='submit') Send Message
