extends layout 

block content 
    .nav.abs-nav
        h2#brand
            #b-m Members
            #b-o Only
        .links
            a(href='/logout') Logout
            a(href='/home') Home

    .join-club-container
        #join-club-background.background

        div
            h1 Join the Club
            h3 See which members posted what and when

            form.join-club(method='POST' action='')
                .form-inputs
                    label(for='code') Secret Code: 
                    input#code(type='text' name='code' value=(undefined === code ? '' : code) required title='Code is required!')

                    button#form-submit(type='submit') Join