extends layout 

block content 
    .nav 
        h2#brand
            #b-m Members
            #b-o Only
        .links
            a(href='/login') Login
            a(href='/signup') Signup
            a(href='/home') Home

    h1 Join the Club

    if errors
            ul
                for error in errors
                    li!= error.msg

    form.join-club(method='POST' action='')
        .form-inputs
            label(for='code') Secret Code: 
            input#code(type='text' name='code' value=(undefined === code ? '' : code))

            button#form-submit(type='submit') Join