extends layout

block content 
    .signup-container
        #signup-background.background

        div
            h1#brand
                #b-m Members
                #b-o Only

            h1 #[strong Sign Up]

            if errors
                ul
                    for error in errors
                        li!= error.msg

            form.signup(method='POST' action='')
                .form-inputs
                    label(for='username') Username: 
                    input#username(type='text' name='username' required title='Username is required!')
                    label(for='password') Password: 
                    input#password(type='text' name='password' required title='Password is required!')

                    button#form-submit(type='submit') Sign up
            
                .form-footer Already have an account? #[a(href='/login') Login] Or #[a(href='/login/guest') continue as a Guest]
