@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');

html,
body,
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  --primary: #e28d8d;
  --secondary: #e6e5e5;
  --accent: #09e1e1;
  --background: #ffffff;
}

body {
  font-family: Poppins, 'sans-serf', 'Times New Roman', Times, serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* https://unsplash.com/photos/jR4Zf-riEjI */
  background: url('../images/rainbow-tiles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(90%);
}

a {
  text-decoration: none;
  color: var(--accent);
}

form {
  width: 100%;
}

.login, .signup, .join-club {
  padding: 1rem;
  background-color: var(--secondary);
}

.join-club {
  width: fit-content;
  border-radius: 1rem;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}

.form-inputs-message{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: .5rem;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  overflow: visible;
}

input{
  all: unset;
  padding-left: .6rem;
  background: white;
  border-radius: .5rem;

  &:focus{
    border-bottom: 2px solid var(--accent);
  }
}

#form-submit {
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--accent);
  &:hover {
    cursor: pointer;
    transform: translateY(2px);
  }
}

h1 {
  padding: 1rem;
}

.message-board-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-height: 80vh;

  & .message-board {
    width: 50%;
    border-radius: 1rem;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    padding-top: 3px;
    gap: .75rem;
    box-shadow: 0px 0px 6px 2px gray;

    & ul {
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
      max-height: 100%;
      overflow-y: auto;
    
      & li {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
      }
    }

    & .message-form-container {
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: .75rem;
    }

    & .message-container {
      padding: .6rem;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      background: var(--primary);
      max-width: fit-content;

      & #message {
        overflow-wrap: break-word;
        overflow: hidden;
      }

      & .data {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dotted black;
        margin-bottom: .25rem;

        & #author {
          margin-right: 10px;
          font-weight: 600;
        }
      }
    }

    & .message-container.right {
      margin-left: auto;
    }
  }
}

.abs-nav{
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 3px 1px gray;
  padding: .5rem;
  background-color: var(--secondary);

  & .links {
    display: flex;
    align-items: center;
    gap: .25rem;

    & a {
      background-color: var(--accent);
      color: black;
      padding: .5rem;
      text-decoration: none;
      border-radius: .5rem;
      margin-bottom: 2px;
      
      &:hover {
        cursor: pointer;
        transform: translateY(2px);
      }
    }
  }
}

.login-container,
.signup-container,
.join-club-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100vh;
  background-color: var(--background);

  > div{
    min-width: 100%;
    background-color: var(--secondary);
    margin-left: 4px;
  }

  & .background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secondary);
    box-shadow: 1px 0px 3px 1px gray;
    margin: 0;
  }

  & #login-background {
    /* https://unsplash.com/photos/5sF6NrB1MEg */
    background-image: url('../images/green-plant-brown-background.jpg');
    background-position: bottom;
  }

  & #signup-background {
    /* https://unsplash.com/photos/IKvDKHWF_5w */
    background-image: url('../images/green-plant-blue-background.jpg');
    background-position: center;
  }

  & #join-club-background {
    /* https://unsplash.com/photos/oZuBNC-6E2s */
    background: url('../images/blue-question-mark-pink-background.jpg');
    background-position: right;
    background-size: cover;
  }
}

.join-club-container {
  padding-top: 4rem;
}

#brand {
  display: flex;
  font-size: 2rem;
  font-weight: bolder;
  & #b-m { color: #E28D8D;}
  & #b-o { color: #09E1E1; padding-right: .25rem;}
}

.no-msg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary);
  font-weight: bold;
}

.admin {
  color: black;
}

.message-board-container .message-board ul li a.admin:hover{
  background-color: rgba(255,0,0,.7);
}